<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
         <h1>This is Login Page</h1>
         <form action="/login" method="post">
             <label><span>Account:</span><input type="text" name="username"></label>
             <label><span>Password:</span><input type="password" name="password"></label>
             <input type="submit" value="Login" >
         </form>
         <a href="/register">还没账号 ?</a>
    </body>
</html>
